<form action="{% url 'password' %}">
    <h1>Password Generator</h1>
    <label for="length">Select the length of your password</label>
    <select name="length" id="length">
    
        <option value="1">1 characters</option>
        <option value="2">2 characters</option>
        <option value="3">3 characters</option>
        <option value="4">4 characters</option>
        <option value="5">5 characters</option>
        <option value="6">6 characters</option>
        <option value="7">7 characters</option>
    </select>
    
    <label for="uppercase">Uppercase</label>
    <input type="checkbox" name="uppercase" id="uppercase">
    
    <label for="special">Special Characters</label>
    <input type="checkbox" name="special" id="special">
    
    <label for="number">Numbers</label>
    <input type="checkbox" name="numbers" id="numbers">

    <button>Generate password</button>
</form>